
@media only screen and (max-width: 768px) {
    .Menu{
        position: absolute;
        top:210px;
        direction: rtl;
        width: 100%;
        right: 30px;
        font-size: 16px;
        font-family: 'Alef', sans-serif;
        color: rgb(22, 129, 158);
    }
}