/* .Dashboard-tool{
    height: 50px;
    background-color: aqua;
} */
@media only screen and (max-width: 768px) {
.menu {
    /* display: flex; */
    direction: rtl;
    justify-content: right;
    margin: 0px;
    font-weight: bold;
    font-size: 18px;
    color: #02064f;
    padding-bottom: 5px;
    background-size: 80%;
    height: 100px;
    margin-top: 50px;
    /* background-color: #fefefeb9; */
}


#Hamburger{
    position: absolute;
    top: 0;
    right: 0;
    direction: rtl;
    z-index: 100;
}
#plus{
    font-size: 18px;
    margin-left: 4px;
    color: #4998B7;
}
#val-admin{
    color: #4998B7;
    font-size: 22px;

    font-family: 'Alef', sans-serif;


}
#add-child{
    /* margin-top: 10px; */
    
    margin-right: 120px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    color: black;
    border: 2px #4998B7 solid;
    background-color: white;
    font-size: 14px;
margin-bottom: 20px;
    font-family: 'Alef', sans-serif;

}
.user-welcome{
    position: absolute;
    top: 120px;
    right: 38px;
    font-family: 'Alef', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(22, 129, 158);

}
.my-children{
    position: absolute;
    top:210px;
    direction: rtl;
    width: 100%;
    right: 30px;
    font-family: 'Alef', sans-serif;
    color: rgb(22, 129, 158);

    
}
.title-children{
    display: flex;
}
.Dashboard-tool{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* cursor: pointer; */
    font-weight: bold;
    font-size: 18px;
    font-family: 'Alef', sans-serif;
}
.h1-Dashboard{
    font-family: 'Suez One', serif;
    position: absolute;
    top: 2px;
    right: 110px;
    font-size: 22px;
    font-weight: bold;
    -webkit-text-stroke:0.01px rgb(51, 50, 50)  ;
    direction: rtl;
    font-weight: bold;

    color: #F9F871;
}
#userType-select-admin{
    width: 30%;
    margin-right: 110px;

}
#List-select-admin{
    width: 30%;
    margin-right: 10px;
    font-size: 25px;
    color: rgb(22, 129, 158);
}
#demo-simple-select-placeholder-label{
    font-family: 'Alef', sans-serif;
    font-size: 14px;


}
.admin-Dashboard{
    position: absolute;
    top: 145px;
    right: 62px;
    font-family: 'Alef', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: rgb(22, 129, 158);
}
#pText-Dashboard{
    top: 150px;
    right: 10px;
    font-size: 25px;
    color: #8FF1B0;
}

.summer_txt-Dashboard{
    font-family: 'Suez One', serif;
    position: absolute;
    top: 18px;
    left: 67px;
    font-size: 22px;
    font-weight: bold;
    -webkit-text-stroke:0.01px rgb(51, 50, 50)  ;
    direction: rtl;
    font-weight: bold;
    color:#72E6CB;
    
}
}